/*=============================
Bootstrap
=============================*/
@import "bootstrap-mincer";
@import "bootstrap";

$navbar-default-bg: #f2f2f2;




/*=============================

=============================*/



/*=============================
Custom Style
=============================*/

body {
  color: #262626;
  background-color: #e6e6e6;
}

.center {
    text-align: center;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: #595959;
    border: 1px solid #999999;
}

.btn-xlarge:hover {
    background: #666666;
    border: 1px solid #999999;
}

.centertitle {
  margin-top: 20px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 1.4em;
}

.backlink {
  margin-top: 20px;
}

.article-actions {
  border-top: 1px solid #e6e6e6;
  padding-top: 5px;
  margin: 100px 0 -12px 0;
}

.description {
  margin-top: -10px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-title a {
  color: #262626;
  font-weight: 500;
}

.article-title a:hover {
  color: #696B7D;
  text-decoration: none;
}

.article-body {
  padding-top: 15px;
  border-top: 1px solid #e6e6e6;
}

/*=============================
Logo
=============================*/

.logo {
    margin: 2px 25px 0 0;
    padding: 0 0 0 10px;
    float: left;
}


/*=============================
Jumbotron
=============================*/

.jumbotron h1 {
    color: #FFF;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.jumbotron {
    background-image: asset-url('codewallpaper.jpg');
    background-size: cover;
    height: 550px;
}


/*=============================
Footer
=============================*/

.footer {
  margin-top: 50px;
  padding-top: 5px;
  border-top: 1px solid #3b3d3c;
  color: #777;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}

